extends layout

block script_import
    script(src='/js/main-sockets.js')

block container
    .row
        .col-md-8
            h1= title
                span#status.label
    .row
        #error.col-md-8.alert.alert-danger(style={display:'none'} role='alert')
            span.glyphicon.glyphicon-exclamation-sign(aria-hidden="true")
    .row
        #message.col-md-6.alert(style={display:'none'}, role='alert')
            #job-progress.progress(style='display:none')
                .progress-bar.progress-bar-striped.active(role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%")
            span#message-txt Loading
    .row
        form#job.col-md-6 
            .form-group
                label(for="url_query") URL
                input#url_query.form-control(type="text", placeholder="url", required="")
            button#submit-job.btn.btn-default Submit job
